apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-api
  labels:
    app: demo-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-api
  template:
    metadata:
      labels:
        app: demo-api
    spec:
      imagePullSecrets:
        - name: artifactory-pull-secret
      containers:
        - name: api
          image: artifactory.octopussamples.com/demo-enterprise-docker/cbidigital.api:CHANGE_ME_TAG
          ports:
            - containerPort: 5150
          env:
            - name: ASPNETCORE_URLS
              value: "http://+:5150"
            - name: FrontendOrigin
              value: "http://demo-frontend"
