apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# 1. RESOURCES: Correctly pointing to your base folders
resources:
  - ../../base/api
  - ../../base/frontend

# 2. NAMESPACE: Dynamic based on environment
namespace: financia-digital-api-#{Octopus.Environment.Name | ToLower}

# 3. LABELS: Track who manages this
commonLabels:
  app.kubernetes.io/managed-by: octopus-deploy
  environment: #{Octopus.Environment.Name | ToLower}

# 4. SCALING: Controlled by Octopus Variables
replicas:
  - name: demo-api
    count: #{octopus.deployment.api.replicas}
  - name: demo-frontend
    count: #{octopus.deployment.frontend.replicas}

# 5. IMAGES: Controlled by Octopus Packages
images:
  - name: ghcr.io/adamoctoclose/financiadigital.api
    newTag: 1.0.0.5
  - name: ghcr.io/adamoctoclose/financiadigital.frontend
    newTag: 1.0.0.5